.job-ads-container * {
    transition: all .2s ease;
}
.job-ads-container{
    font-family: inherit;
}
.job-ads-container .jobAdsTable{
    min-width: 100px;
}
.floatLeft{
    float: left;
}
.w100{
    width: 100%;
}