.selectBoxWrapper {
    float: left;
    width: auto;
    margin-right: 20px;
}

.selectBoxWrapper .controlWrapper,
.selectBoxWrapper .dropdown {
    min-width: 160px;
    height: 45px;
}
.selectBoxWrapper:last-child{
    margin-right: 0;
}