.jobAdsDetailsWrapper {
    color: #666;
}

.jobAdsDetailsWrapper .fullRow {
    width: 100%;
    float: left;
}

.jobAdsDetailsWrapper .personInfoRow {
    margin: 3px 0
}

.jobAdsDetailsWrapper .randomImageWrapper {
    margin: 10px 0;
}

.jobAdsDetailsWrapper .randomImageWrapper img {
    width: 100%;
}

.jobAdsDetailsWrapper h1,
.jobAdsDetailsWrapper .jobTitle {
    font-size: 2em;
    font-weight: bold;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
}

.jobAdsDetailsWrapper h2,
.jobAdsDetailsWrapper .descriptionTitle {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 0.83em;
    margin-bottom: 0.41em;
}

.jobAdsDetailsWrapper .locationBox {
    margin-right: 20px;
}

.jobAdsDetailsWrapper .locationValue,
.jobAdsDetailsWrapper .durationValue {
    display: inline-block;
    margin-left: 10px;
    position: relative;
    top: -5px;
}

.jobAdsDetailsWrapper .applyBtnWrapper {
    margin: 20px 0 5px 0;
}

.jobAdsDetailsWrapper .applyBtnWrapper .applyBtn {
    margin-right: 50px;
}

.jobAdsDetailsWrapper .contactPersonInfo {
    margin-bottom: 20px;
}

.jobAdsDetailsWrapper .social-icon {
    width: 40px;
    height: 40px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    text-indent: -999em;
    overflow: hidden;
    margin-left: 10px;
    float: left;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    fill: #fff;
    border: 2px solid transparent;
    transition: all .1s ease;
}

.jobAdsDetailsWrapper .social-icon>svg {
    transition: none;
}

.jobAdsDetailsWrapper .twitter-icon {
    background-color: #27A0DD;
}

.jobAdsDetailsWrapper .twitter-icon:hover {
    background-color: #fff;
    border-color: #27A0DD;
    fill: #27A0DD;
}

.jobAdsDetailsWrapper .facebook-icon {
    background-color: #335290;
}

.jobAdsDetailsWrapper .facebook-icon:hover {
    background-color: #fff;
    border-color: #335290;
    fill: #335290;
}

.jobAdsDetailsWrapper .linkedin-icon {
    background-color: #2164A9;
}

.jobAdsDetailsWrapper .linkedin-icon:hover {
    background-color: #fff;
    border-color: #2164A9;
    fill: #2164A9;
}

.jobAdsDetailsWrapper .navBackBtn svg {
    position: relative;
    left: -4px;
    top: -0.5px;
}

.jobAdsDetailsWrapper .applyBtnWrapper .applyBtn:hover {
    opacity: 0.95;
    transition: all .3s ease;
}